option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

  # Point the app root to the public/ folder.
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

  # Set here your php.ini `memory_limit` value.
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: memory_limit
    value: 256M

commands:
  01_node_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'yum install -y nodejs --enablerepo=epel'
  
  02_npm_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
    command: 'sudo rm -rf /usr/bin/npm | curl -L http://npmjs.org/install.sh | sh'
  03_node_update:
    cwd: /tmp
    test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
    command: 'npm install -g n && n stable'

container_commands:
  01_install_composer_dependencies:
    command: "sudo php -d memory_limit=-1 /usr/bin/composer.phar install --optimize-autoloader --no-dev"
    cwd: "/var/app/staging"

  02_install_node_dependencies:
    command: "sudo npm install"
    cwd: "/var/app/staging"

  03_build_node_assets:
    command: "sudo npm run build"
    cwd: "/var/app/staging"
