commands:
  01_install_composer_dependencies:
    command: "composer install --optimize-autoloader --no-dev"

container_commands:
  02_install_npm_dependencies:
    command: "npm install"
  03_run_npm_build:
    command: "npm run build"
  04_run_config_cache:
    command: "php artisan config:cache"
  05_run_route_cache:
    command: "php artisan route:cache"